{% extends "post/base.html" %}

{% block content %}

<main>
  <div class="container">
  <h1 class = "text-center pt-3">{{ object.title }}</h1>
  <h4 class = "text-center pt-3">{{ object.owner }}</h4>

  <p class="text-center">{{object.pub_date}}</p>
  <img src="{{ object.image.url }}" />
  <br />
  <br />
  <p>{{ object.description }}</p>
  <hr>
  <hr>
  <hr>
{% for comment in comment_list %}
<p>Comment: {{ comment.text }} </p>
<p>Owner: {{comment.user}} </p>
  <hr>
{% endfor %}
{% if  user.username %}

<h2>Create Comment </h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">OK</button>
        <br><br>
        <a href="{% url 'post_list' %}">Home</a>
    </form>

{% else %}
 <br><br>
 <p>
        If you want to put a comment please <a href="{% url 'login' %}">Login</a>.
        </p>
{% endif %}
</main>
{% endblock content %}
